.MainUpperr {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("https://www.divergenttravelers.com/wp-content/uploads/edit-2832.jpg");
  object-position: top;
  object-fit: cover;
  /* background: none repeat; */
}


.MainContent {
  color: #fff;
  margin: auto;
}

.Title {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-shadow: 0 3px 5px #000;
}

.Italic {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
  color: #fff;
  text-shadow: 0 3px 5px #000;
}

.GoButton {
  margin: 2%;
  cursor: pointer;
}

.ButtonFirst {
  width: 300px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: Roboto;
  font-weight: 700;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 0.563rem 1.125rem;
  font-size: 1.125rem;
  border-radius: 0;
  line-height: 1.4;
  color: #fff;
  background-color: rgba(51, 51, 51, .5);
  border: 3px solid #fff;
  cursor: pointer;
}

.ButtonFirst:hover {
  transition: all;
  transform: scale(1.1);
}

.Capp {
  font-family: sans-serif;
  text-align: center;
}


.Flex {
  display: flex;
}

/* .section{
    height: auto;
    background-color: black;
  } */
#section1 {
  background-color: white;
  /* height: 600px; */
  /* background-color: pink; */
  /* margin-bottom: 5%; */
}

.MainHeading {
  /* height: 200px; */


  /* border: 1px solid black; */
}

.SettingHeading {
  text-align: center;
}

.SetText {
  font-size: 2.2rem;
  color: #333;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}


.SetTextWith {
  font-size: 1.2rem;
  font-family: Crimson Text, serif;
  color: #333;
  margin-bottom: 5vh;
}

.SetFlexProperty {
  height: auto;
  padding-bottom: 1px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;

}

.SetFlexProperty div {
  height: auto;
  width: 100%;
  /* margin: 10px 10px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  text-align: justify;

}

.SetDataLeft {
  font-weight: 700;
  padding-left: 1.6rem;
  color: #666;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: Crimson Text, serif;
}

.SetDataLeft>ul {
  margin-left: 5px;
}

.SetDataLeft>ul>li {
  margin: 20px;
  text-align: left;
}

.SetDataright {
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #333;
}

@media only screen and (max-width: 954px) {
  .SetFlexProperty {
    height: auto;
    padding-bottom: 1px;
    /* background-color: black; */

    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

  }

  .SetFlexProperty div {
    height: auto;
    width: 100%;
    margin: 10px 0px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    text-align: justify;

  }
}

.SettingHeadingRatio {
  padding: 2%;
  height: auto;

  /* border: 1px solid black; */
}

.SetTextRatio {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;

}




.inner_container {
  width: 100%;
  margin: auto;
  line-height: 1.5;
}

.exclusivesavings {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2;
  padding: 1rem;
}

.SetBackGround {
  position: absolute;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
  box-shadow: none;
  /* height: 50vh; */
  z-index: 0;

}


.EnterData {
  height: auto;
  padding: 2%;
  font-size: 1.2rem;
  /* border: 1px solid black; */
}

.PutData {
  text-align: left;
  height: auto;
  width: 98%;
  /* border:1px solid black; */
}

.DataHeading {
  font-size: 2.2rem;
  color: #333;
  font-weight: 700;
  letter-spacing: .1rem;
  gap: 20px;
  text-align: center;
  text-transform: uppercase;

}

.HeadingContent {
  line-height: 1.6;
  font-size: 1.3rem;
  color: #666;
  font-weight: 600;
  margin-left: 30px;
  margin: 20px;
}

@media only screen and (max-width: 503px) and (min-width: 434px) {
  /* #section1 {

    height: 1840px;

  } */
}

@media only screen and (max-width: 434px) and (min-width: 300px) {
  /* #section1 {
    height: 2000px;
  } */

  .Title {
    font-size: 2.5rem;
  }

  .Italic {
    font-weight: 400;
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 360px) {

  .SetFlexProperty {
    height: auto;
    padding-bottom: 1px;
    /* background-color: black; */

    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

  }

  .SetFlexProperty div {
    height: auto;
    /* width: 80%; */
    /* margin: 20px 35px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    text-align: justify;
  }
}

/* .section{
    height: auto;
  } */


#section2 {
  background-color: white;
  margin-top: 2%;
  height: auto;
  width: 100%;
}


.SectionTwo {
  height: auto;
  width: 100%;
  /* border: 1px solid black; */

  /* padding: 1%; */
}

.SectionTwo>img {
  height: 200px;
  margin: 1%;
  width: 90%;
  /* border: 1px solid black; */

}


.SecondFlex {
  /* height: 200px; */
  width: 100%;
  /* border: 1px solid black; */
}

.SetSecondFlex {
  /* height: 150px; */
  margin: 0% 5%;
  width: 90%;
  /* border: 1px solid black; */
  display: flex;
  gap: 2px;
}

.SetSecondFlex>img {
  height: 160px;
  /* margin: 0% 5%; */
  width: 20%;
  /* border: 1px solid black; */
  display: flex;
}

.Pet {
  width: 150px;
  height: 100px;
}

/* @media only screen and (max-width: 381px) {
   .P1{
    display: none;
   }
} */

#section3 {
  background-color: white;

}

.SectionThreeMain {
  height: auto;
  padding-bottom: 1%;
  width: 100%;
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;

}

.SectionThreeMain>div {
  height: auto;
  /* width: 100%; */
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;
  margin: 2%;
  display: flex;
  flex-direction: column;

}

.FirstDiv {
  width: 40%;


}


.SecondDiv {
  width: 53%;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #333;
  border-left: 5px solid #aaaaaa5e;
  padding: 0px 20px;
  text-align: justify;

}

.tripfeedbackquote {
  font-size: 1.3rem;
  /* font-style: italic; */
  font-family: Crimson Text, serif;
  /* color: #aaa; */
  font-weight: 100;
  margin: 10px 0px;
  text-align: justify;
}

.ThirdPic {
  width: 100%;
  height: 300px;

}

.ParaThird {
  font-size: 1.8rem;
  font-style: italic;
  font-family: Crimson Text, serif;
  color: #aaa;
  font-weight: 100;
}

@media only screen and (max-width: 700px) and (min-width: 360px) {


  .SectionThreeMain {
    height: auto;
    padding-bottom: 1%;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;

  }

  .SectionThreeMain>div {
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 2%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }

  .FirstDiv {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .SecondDiv {
    width: 95%;
  }

}

#section4 {
  background-color: white;
}

.FourFlex {
  /* border: 1px solid black; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
  /* padding: 2.5% 2.5%; */

}


.FourFlex div {
  text-align: left;
  /* border: 1px solid black; */
  height: auto;
  width: 45%;
  margin: 2.5%;

}

.FourAling {
  padding-left: 23px;
  font-size: 2rem;
  font-weight: 600;
  font-family: Crimson Text, serif;
  color: #333;
}

.FourSubHeading {
  font-size: 2rem;
  font-weight: 600;
  font-family: Crimson Text, serif;
  color: #333;
}

.FourPara {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #666666;
}

.SetLi {
  color: #333;
  font-size: 19px;
  line-height: 1.4;
}



.LastFourContent {
  /* border: 1px solid black; */
  /* height: 400px; */
  width: 100%;

}

.LastFourContent>div {
  /* border: 1px solid black; */
  height: auto;
  padding-bottom: 1%;
  width: 90%;
  margin: 5%;
  text-align: center;
}

.ContentSubHeading {
  color: #333;
  font-size: 2.2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.ContentSubHeadingPart {
  color: #333;
  margin: 0;
  font-size: 1.4rem;
  font-family: Crimson Text, serif;
  font-weight: 600;
  text-align: justify;
}

@media only screen and (max-width: 700px) and (min-width: 360px) {

  .FourFlex {
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 2.5% 2.5%; */

    padding-bottom: 3%;
  }

  .FourFlex div {
    /* border: 1px solid black; */
    height: auto;
    width: 90%;
    margin: 5%;
    text-align: left;
  }

}


.tab_content {
  display: block;
  margin: 0rem 2rem;
}

.table_data table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem;
}

.table_data th,
.table_data td {
  padding: 8px;
  text-align: left;
  border: 2px solid #222;
  text-align: center;
  font-size: 1rem;
}

.table_data th {
  background: #2a2a2a;
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 650px) {
  .table_bordered {
    display: flex;
  }

  .table_bordered>thead>tr,
  .table_bordered>tbody>tr {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .table_data th,
  .table_data td {
    height: 60px;
    padding: 1.3rem;
    text-align: left;
    border: 2px solid #222;
    text-align: center;
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {

  .table_bordered {
    display: flex;
  }

  .table_bordered>thead>tr,
  .table_bordered>tbody>tr {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
  }

  .table_data th,
  .table_data td {
    height: 60px;
    padding: 1rem;
    text-align: left;
    border: 2px solid #222;
    text-align: center;
    font-size: 1.1rem;
  }
}

.btn_blue {
  color: #000;
}

.btn_booknow {
  background-color: #e4bd5a;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px 2px 8px 2px;
}

.btn_booknow:hover {
  transition: all;
  transform: scale(1.1);
}

/* ///////map-style///////// */
.map {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
}

.image_container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image_container:hover .map {
  display: block;
}


.travel_sts {
  display: flex;
  justify-content: center;

}

.travel_sts>img {
  margin: 0px 5px;
}

.checkIcon {
  font-size: 16px;
  background-color: rgb(86, 241, 39);
  width: 20px;
  color: white;
  border-radius: 50%;
  margin-right: 5px;
  /* Adjust the spacing between the icon and text */
}

.crossIcon {
  color: red;
  font-size: 16px;
  background-color: rgb(86, 241, 39);
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}