
.subcontent {
  max-width: 750px;
  background-color: #fff;
  border-radius: 8px;
  padding: 45px 20px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiFormGroup_root{
  width: 50%;
  margin: auto;
display: flex;
justify-content: flex-start;
flex-direction: column;
outline: none;
font-size: 0.9rem;
}
.experiencesOther{
width: 50%;
margin: auto;
}
.radiogroup {
  padding: 0px 35px;
  display: inline-flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}
.customRadioGroup input[type="radio"] {
  flex-direction: row;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 8px;
}

/* Style for the checked radio button (when selected) */
.customRadioGroup input[type="radio"]:checked {
  background-color: black; /* Set the background color of the checked radio button to black */
}

.containerbtn {
    max-width: 600px;
    margin: 0 auto;
    color: #494949;
    padding: 15px 0px;
}