/* TextCarousel.module.css */

/* Wrapper styles */
.wrapper {
  max-width: 1335px;
  height: 80vh;
  box-sizing: border-box;
  margin: auto;
  /* border: 1px solid #ccc; */
  z-index: 1;
  margin-bottom: 5px;
}

/* Slider wrapper styles */
.sliderWrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}

/* Slider content styles */
.sliderContent {
  text-align: center;
}

.sliderContent .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sliderContent .inner > button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.inner > button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  background: #ffd800;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: cursor;
}

button:hover {
  color: #ffffff;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.sliderContent .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  font-size: 32px;
  line-height: 1;
}

.sliderContent .inner p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.sliderContent section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sliderContent section span {
  color: #ffffff;
}

.sliderContent section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.sliderContent section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.sliderContent section span strong {
  color: #ffffff;
  font-size: 14px;
  display: block;
}

/* .previousButton:hover,
.nextButton:hover {
  background-color: #FFD800;
}



.previousButton:hover {
  left: -10px;
}
*/

.sliderWrapper > a:nth-child(1) {
  position: absolute;
  display: flex;
  top: 50%;
  z-index: 19;
  justify-content: center;
  width: 32px;
  text-align: center;
  height: 32px;
  text-indent: -9999px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sliderWrapper > a:nth-child(2) {
  position: absolute;
  display: flex;
  top: 50%;
  right: 0%;
  z-index: 19;
  justify-content: center;
  width: 32px;
  text-align: center;
  height: 32px;
  text-indent: -9999px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* Media queries */
@media (max-height: 500px) {
  .sliderWrapper,
  .slide {
    height: calc(100vh - 0px);
  }
}
@media (max-width: 450px) {
  .sliderContent .inner h1 {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .sliderWrapper,
  .slide {
    height: calc(80vh - 0px);
  }
  .sliderContent .inner h1 {
    font-size: 28px;
  }
}
