.expedtion-crousal {
  width: 100%;
  position: relative;
  margin: auto;
}

.expedtion-crousal-box {
  display: flex;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
  object-fit: contain;
  object-position: top;
  overflow: hidden;
}
.expedtion-crousal-inner-box {
  margin: 0px 5px;
  border-top: 2px solid var(--golden);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-position: top;
}
.expedtion-crousal-inner-box .btn-a {
}
.expedtion-crousal-inner-box h3 {
  text-align: left;
}
/* Add this to your ExpeditionCrousal.css */
.customarrow {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ExpeditionCrousal.css */
.expedtion-crousal {
  position: relative;
  overflow: hidden;
}

.expedtion-crousal .carousel {
  position: relative;
  overflow: hidden;
}

.expedtion-crousal .carousel .slider-wrapper {
  overflow: hidden;
}

.expedtion-crousal .carousel .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.expedtion-crousal .carousel .slider > div {
  flex: 0 0 100%;
  display: none; /* Hide all carousel items by default */
}

.expedtion-crousal .carousel .slider > div.selected {
  display: block; /* Show only the selected carousel item */
}

/* Add any other styling you need */

/* Hide the pagination dots */
.expedtion-crousal .carousel .carousel-status {
  display: none;
}

/* Hide the navigation arrows */
.expedtion-crousal .carousel .carousel-control {
  display: none;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.thumbs-wrapper {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .carousel-image {
    width: 100%;
    height: 50vh;
  }
  .expedtion-crousal-box {
    display: flex;
    height: 50vh;
    /* justify-content: center; */
    align-items: center;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
  }
  .expedtion-crousal-inner-box {
    margin: 0px 5px;
    border-top: 2px solid var(--golden);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .customarrow {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 600px) {
  .carousel-image {
    width: 100%;
    height: 60vh;
  }
  .expedtion-crousal-box {
    display: flex;
    height: 60vh;
    /* justify-content: center; */
    align-items: center;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
  }
  .expedtion-crousal-inner-box {
    margin: 0px 5px;
    border-top: 2px solid var(--golden);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
  }
  .expedtion-crousal-inner-box h3 {
    font-size: 16px;
  }
  .expedtion-crousal-inner-box p {
    font-size: 14px;
    font-weight: 500;
  }
  .expedtion-crousal-inner-box {
    gap: 0.5rem;
  }
  .expedtion-crousal-inner-box .btn-a {
    font-size: 12px;
  }

  .customarrow {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 601px) {
  .carousel-image {
    width: 100%;
    height: 100%;
  }
  .expedtion-crousal-box {
    display: flex;
    height: 70vh;
    /* justify-content: center; */
    align-items: center;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    padding: 5px;
  }
  .expedtion-crousal-inner-box {
    margin: 0px 5px;
    border-top: 2px solid var(--golden);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
  }
  .expedtion-crousal-inner-box h3 {
    font-size: 18px;
  }
  .expedtion-crousal-inner-box p {
    font-size: 16px;
    font-weight: 500;
  }
  .expedtion-crousal-inner-box {
    gap: 0.5rem;
  }
  .expedtion-crousal-inner-box .btn-a {
    font-size: 12px;
  }

  .customarrow {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1001px) {
  .carousel-image {
    width: 100%;
    height: 100%;
  }
  .expedtion-crousal-box {
    display: flex;
    height: 80vh;
    /* justify-content: center; */
    align-items: center;
    object-fit: contain;
    object-position: top;
    overflow: hidden;
    padding: 5px;
  }
  .expedtion-crousal-inner-box {
    margin: 0px 5px;
    border-top: 2px solid var(--golden);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
  }
  .expedtion-crousal-inner-box h3 {
    font-size: 18px;
  }
  .expedtion-crousal-inner-box p {
    font-size: 16px;
    font-weight: 500;
  }
  .expedtion-crousal-inner-box {
    gap: 0.5rem;
  }
  .expedtion-crousal-inner-box .btn-a {
    font-size: 12px;
  }

  .customarrow {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
