.jet-expeditions-section {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.jet-expeditions-section p {
  text-align: center;
  max-width: 800px;
}

.jetheading {
  font-size: 2.2rem;
}

@media screen and (max-width: 600px) {
  .jet-expeditions-section {
    text-align: center;
  }
}