.navbar {
  width: 100%;
  position: fixed;
  top: 0%;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--black);
  color: white;
  font-size: 14px;
  z-index: 1000;
  margin-bottom: 200px;
}

.navbar-logo {
  width: 160px;
}

.call-and-home-nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}

.nav-items>li {
  list-style: none;
}

.drop-down-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.drop-down-menu {
  position: absolute;
  top: 15px;
  background-color: var(--black);
  padding: 1.5rem 1.5rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
  border-radius: 8px;
  transition: 0.6s;
}

.drop-down-item:hover>.drop-down-menu {
  display: flex;
}

.navbar a:hover {
  color: var(--golden);
}

.navbar .menu-icon {
  cursor: pointer;
  color: var(--golden);
  display: none;
}





/* --------------------------------------------------- */



.to_drop {
  list-style: none;
  padding: 0.5vmax 0;
  font-size: 1.15vmax;
}

.small_group {
  background-color: black;
  /* background-color: red; */
  position: absolute;
  width: 22%;
  z-index: 5;
  display: none;
  list-style: none;
  padding: 0.5vmax 1.5vmax;
  border-radius: 0 0 1vmax 1vmax;
  padding-top: 1.1vmax;
  padding-bottom: 1.1vmax;

}

.small_group_Link {
  display: block;
  padding: 0.5vmax;
}

.to_drop:hover .small_group {
  display: block;
}

#id_R_by_destination {
  padding-top: 1.1vmax;
  width: 100%;
  position: absolute;
  left: 0px;
  /* top: 42px; */
  /* top: 5vmax; */
  display: none;
}

.to_drop:hover #id_R_by_destination {
  display: block;
}





/* --------------------------------------oi9 */

@media screen and (max-width: 1050px) {
  .navbar {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-items {
    display: none;
  }



  .navbar .menu-icon {
    display: block;
  }
}

.responsive-navbar {
  position: fixed;
  top: 0%;
  right: -100%;
  padding: 2rem 2rem;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.5rem;
  transition: 1s;
}

.nav-link {
  text-align: center;
  font-family: Mont, Montserrat, Trebuchet MS, Helvetica, sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .125em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  display: block;
  width: 100%;
  position: relative;
  background: 0 0;
  border: none;
  font-size: .85rem;
  line-height: 1.666;
  padding: 1rem;

}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 5%;
}

.responsive-navbar ul li {
  transform: translateX(20px);
  margin: 0.5rem 0;
}

.call-and-home-nav-item {
  font-size: 12px;
}