/* Regular carousel styles */
.my-carousel {
  position: relative;
  width: 95%;
  height: 80vh;
  overflow: hidden;
  transition: 5s;
  margin: auto;
  border: 5px solid var(--golden);
}

.my-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.my-slide.active {
  opacity: 1;
}

.my-content {
  width: 70%;
  transform: translateY(80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.my-content p {
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 6px;
  display: inline-block;
  font-size: 20px;
  background-color: rgba(167, 180, 25, 0.456);
}

.my-content h2 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(167, 180, 25, 0.456);
}

/* Media queries and other styles */
@media screen and (max-width: 500px) {
  .my-carousel {
    height: 50vh;
  }

  .my-content p {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .my-carousel {
    height: 70vh;
  }

  .my-content p {
    font-size: 14px;
  }
  .my-content h2 {
    font-size: 20px;
    font-weight: 800;
  }
}
